.cardsContainer {
  border: 1px solid #ccc;
  border-radius: 1em;
  padding-top: 4em;
  padding-left: 4.5%;
  padding-bottom: 4em;
  margin-top: 2em;
}
.cardsContainer .card {
  width: 2em;
  height: 2.5em;
  font-size: 4em;
  text-align: center;
  float: left;
  margin: 0.1em;
  margin-left: 0.36em;
  margin-bottom: 0.36em;
}
.cardsContainer .card i {
  margin-top: 0.7em;
}
.cardsContainer .selectedCard {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0.2em;
}

.cardsContainer .sampleCard {
  background-image: url("card_backs_grid_blue.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.cardsContainer .defaultCard {
  background-image: url("https://openclipart.org/download/23038/nicubunu-Card-backs-grid-red.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.finishedGameMessage {
  margin-top: 10em;
}
