<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Memory Game</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" href="game.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Memory Game</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="start.html">Start Page</a></li>
          <li class="active"><a href="#">Memory Game</a></li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div ng-app="memoryGame" ng-controller="GameCtrl">
        <div
          class="sideCards cardsContainer col-md-3"
          style="border: none !important; padding-top: 0px"
        >
          <div class="row">
            <button class="col btn btn-lg btn-success" ng-click="startGame();">
              Start Game
            </button>
            <button
              class="col btn btn-lg btn-primary"
              ng-click="resetGame();"
              style="margin-left: 1rem"
            >
              Reset Game
            </button>
          </div>
          <div class="row">
            <div ng-repeat="cardSample in cardsArraySample">
              <div
                class="card"
                ng-class="(cardSample.active == 0) ? 'sampleCard' :'selectedCard'"
              >
                <i
                  ng-show="cardSample.active"
                  class="{{cardSample.img}}"
                  aria-hidden="true"
                ></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div ng-show="activeGame">
          <div class="cardsContainer col-md-6">
            <div class="row">
              <div class="col-3">
                <div ng-repeat="card in cardsArray">
                  <div
                    class="card"
                    ng-class="(card.active == 0) ? 'defaultCard' :'selectedCard'"
                    ng-click="selectCardAction(card);"
                  >
                    <i
                      ng-show="card.active"
                      class="{{card.img}}"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-hide="activeGame">
          <div class="col-md-6 alert alert-success finishedGameMessage">
            <h1 class="text-center">Congratulations</h1>
            <h3 class="text-center">You won the game</h3>
          </div>
        </div>
      </div>

      <script src="module.js"></script>
      <script src="controller.js"></script>
    </div>
  </body>
</html>
